@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
 --font-sans: 'Lato', sans-serif;
 --font-roboto: 'Roboto', sans-serif;
  --font-teko: 'Teko', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --color-primary-500: #00C16A;
  --color-secondary-500: #2563eb;
} 